<h1>Imgswap</h1>

<%= flash[:error] %>

<%= form_with url: '/sessions' do |f| %>
    <%= f.text_field :username, placeholder: 'enter your username'%>
    <%= f.password_field :password, placeholder: 'enter your password'%>
    <%= f.submit %>
<% end %>

<%= link_to 'Sign Up Now!', signup_path %>
