<h3>Edit <%= @user.username.capitalize %>'s login information:</h3>

<%= form_with model: @user do |f| %>
    <%= f.text_field :username, placeholder: 'create a username'%>
    <%= f.password_field :password, placeholder: 'create a password'%>
    <%= f.password_field :password_confirmation, placeholder: 'retype your password'%>
    <%= f.submit %>
<% end %>