<h1>Edit your tag!</h1> 
<%= form_with model: @tag do |f| %>

    <label>tag name</label>
    <%= f.text_field :name %><br>

    <h3>Pictures with this tag:</h3>
    <% @tag.pictures.each do |picture| %>
    <%= link_to picture.title, picture %>
    <% end %>

    <%= f.submit  %>
<% end %>

<%= button_to 'Delete this tag', @tag, method: :delete, data: { confirm: 'Are you sure?' } %>