<%= form_with model: @picture do |pic| %>

    <%if @picture.errors.any?%>
        <div id='error_explanation'>
            <h2> <%=pluralize(@picture.errors.count, 'error') %> prohibited this picture from being saved: </h2>

            <ul>
            <%@picture.errors.full_messages.each do |message| %>
                 <li> <%= message %> </li>
            <% end %>
            </ul>
        </div>
    <%end%>
    
    <label>Picture Title</label>
    <%= pic.text_field :title %><br>

    <label>Link or upload your picture:</label>
    <%= pic.text_field :image_url, placeholder: 'paste your URL here'%> <br>
    <%= pic.file_field :image %> <br>

    <h3> Tag your picture: <h3>
    <%= pic.collection_check_boxes :tag_ids, Tag.all, :id, :name%><br>
    
    <h3>Or create a new tag:</h3>
    <%= pic.fields_for :tags, @picture.tags.new do |tag|  %>
        <%= tag.text_field :name, placeholder: '#' %>
    <% end %>

    <%= pic.submit  %>
<% end %>