<h1>Edit your picture!</h1> 
<%= form_with model: @picture do |pic| %>

    <label>Picture Title</label>
    <%= pic.text_field :title %><br>

    <ul><img class="circle responsive-img" src='<%= @picture.image_url%>'></ul>

    <h3> Tag your picture: <h3>
    <%= pic.collection_check_boxes :tag_ids, Tag.all, :id, :name%><br>
    
    <h3>Or create a new tag:</h3>
    <%= pic.fields_for :tags, @picture.tags.new do |tag|  %>
        <%= tag.text_field :name, placeholder: '#' %>
    <% end %>

    <%= pic.submit %>
<% end %>

<%= button_to 'Delete this picture', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
