<h1><%=@picture.title%></h1>

<ul><img style="width:100%" src='<%= @picture.image_url%>'></ul>
<strong><ul>Posted by <%= @picture.user.username%></ul></strong>

<% @picture.tags.order(:name).each do |tag|%>
<ul> #<%=tag.name %></ul>
<% end %>

<h2>Comments:</h2>
<% @picture.comments.each do |comment|%>
  <ul><%=comment.content %></ul>
<% end %>

  <%= form_with model: Comment.new, url: picture_comments_path(@picture) do |f| %>
    <%= f.text_field :content, placeholder: 'Add a comment...' %>
    <%= f.submit %>
  <% end %>
<br>

<%= link_to 'Return to Picture Feed', pictures_path %><br>