<h1><%=@picture.title%></h1>

<ul><img class="circle responsive-img" src='<%= @picture.image_url%>'></ul>

<% @picture.tags.order(:name).each do |tag|%>
<ul> #<%=tag.name %></ul>
<% end %>

<h2>Comments:</h2>
<% @picture.comments.each do |comment|%>
  <ul><%=comment.content %></ul>
<% end %>

  <%= form_with model: Comment.new, url: picture_comments_path(@picture) do |f| %>
    <%= f.text_field :content, placeholder: 'Add a comment...' %>
    <%= f.submit %>
  <% end %>
<br>
<%= link_to 'Edit this post.', edit_picture_path(@picture) %><br>

<%= link_to 'Return home.', pictures_path %><br>

<%= button_to 'Delete this picture', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>