<h1><%=@picture.title%></h1>

<ul><img class="circle responsive-img" src='<%= @picture.image_url%>'></ul>

<% @picture.tags.each do |tag|%>
<ul> #<%=tag.name %></ul>
<% end %>

<%= link_to 'Edit this post.', edit_picture_path(@picture) %>

<%= link_to 'Return home.', pictures_path %>

<%= button_to 'Delete this picture', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>